# Control Structures and Data Frames

## PETE 2061 Lab 4 Workbook 

## THIS IS DUE BY 11:59 PM ON SUNDAY (Sept 22, 2019)

<a id='top'></a>

1. Paste the url (or link) to the pete2061 folder in your github account in the "marked down" cell below. <br>

In [1]:
https://github.com/joeyurso/pete-2061

SyntaxError: invalid syntax (<ipython-input-1-a217fb8a1c61>, line 1)

2. It is commonly said that one human year is equivalent to 7 dog years. However, this simple conversion fails to recognize that dogs reach adulthood in approximately two years. As a result, some people believe that it is better to count each of the first two human years as 10.5 dog years, and then count each additional human year as 4 dog
years. <br>
Write a program that implements the conversion from human years to dog years described in the previous paragraph. Ensure that your program works correctly for conversions of less than two human years and for conversions of two or more human years. Your program should generate a random number between 0 and 10. <br>
Hints: <br>
a. Remember that you can generate a random number between 0 and 1 using the function numpy.random.random(1)<br>
b. You can scale this random number to go from 0 to 10 by multiplying it by 10<br>
c. At this point what you have is a random floating-point number that goes from 0 to 10. You need to convert this floating-point number to an integer using the int() function.

In [2]:
import numpy as np
human_age = np.random.randint(11)
if human_age < 2:
    dog_age = human_age*10.5
    print(f"If a human is {human_age} years old, then a dog is {dog_age} years old in dog years.")
elif human_age > 2:
    dog_age = 21+(human_age-2)*4
    print(f"If a human is {human_age} years old, then a dog is {dog_age} years old in dog years.")

If a human is 1 years old, then a dog is 10.5 years old in dog years.

3. For Students A through J, generate 10 different random numbers between 0 and 100. Create a dataframe to store the student names in the first column (called "Name"), and store the scores in the second column called "Score".
   Print out the mean, standard deviation and maximum of the scores, as well as the index of the student with this maximum score.

In [3]:
names = "A B C D E F G H I J".split()
scores = 100*np.random.random(10)
import pandas as pd
df=pd.DataFrame({'Name':names,'Score':scores})
df

  Name      Score
0    A  40.304433
1    B  75.248589
2    C  14.773884
3    D  73.157517
4    E  92.864535
5    F   5.662883
6    G  12.415638
7    H  85.791567
8    I   3.473089
9    J  48.859259

In [4]:
df.describe()

           Score
count  10.000000
mean   45.255139
std    34.874906
min     3.473089
25%    13.005200
50%    44.581846
75%    74.725821
max    92.864535

In [14]:
print(f"The mean is {scores.mean()}, the standard deviation is {scores.std()}, and the maximum score is {scores.max()}")
df.loc[df["Score"].idxmax]

The mean is 45.255139487499854, the standard deviation is 33.08524108653983, and the maximum score is 92.86453523589552

Name           E
Score    92.8645
Name: 4, dtype: object

4. Write a program that begins by reading a score in percentage (%) from the user. Then your program should compute and display the equivalent letter grade. Ensure that your program generates an appropriate error message if the user enters an invalid score.
Use the grading scale on your syllabus. These scores are typed in below.

In [ ]:
letterGrade = ['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','D-']
scores = [97,93,90,87,83,80,77,73,70,67,63,60]
# A score of less than 60 gets a letter grade of F
grade = int(input("Enter your score %"))
if grade >= 97:
    print("You got an A+, congratulations!")
elif grade >= 93:
    print("You got an A, congratulations!")
elif grade >= 90:
    print("You got an A-, congratulations!")
elif grade >= 87:
    print("You got a B+, great job!")
elif grade >= 83:
    print("You got a B, great job!")
elif grade >= 80:
    print("You got a B-, great job!")
elif grade >= 77:
    print("You got a C+, good job ")
elif grade >= 73:
    print("You got a C, good job")
elif grade >= 70:
    print("You got a C-, you passed!")
elif grade >= 67:
    print("You got a D+")
elif grade >= 63:
    print("You got a D")
elif grade >= 60:
    print("You got a D-")
elif grade >= 0:
    print("Unfortunately, you got an F")
elif grade < 0:
    print("This is an invalid score")

5. Write a program that generates 10 random integers, and then prints the largest odd number that was entered. If no odd number was entered it should print a message to that effect. <br>
Hints: <br>
    a. Use pseudo-code. <br>
    b. Generate a random number using the code below:<br>
    myRandInt = np.random.randint(low=1, high=20, size=10)<br>
    c. Initialize an empty list to contain the odd numbers. Name this list oddInt <br>
    d. Within your for loop, you can append odd numbers to this empty list using the append function. eg: <br>
    oddInt.append("The current odd number from the list should be put in here!")

In [ ]:
import numpy as np
myRandInt = np.random.randint(low=1, high=20, size=10)
oddInt = (x for x in myRandInt if x % 2!=0)
print(myRandInt)
if oddInt:
        print(max(oddInt))
else:
        print(f"There were no odd integers")